/* =====================================

1. Global

===================================== */

/* Global
===================================== */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

/* Typography
===================================== */

p {
    line-height: 2rem;
}

h3 {
    line-height: 2rem;
}

/* Structure
===================================== */

.container {
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.nav-items {
    display: flex;
    list-style: none;
}

.header {
    background-color: hsl(220, 20%, 80%);
    padding: 2rem;
}

.main {
    background-color: hsl(220, 50%, 20%);
}

.footer {
    background-color: hsl(220, 20%, 80%);
    padding: 2rem;
}

/* Components
===================================== */

.card-center {
    border: 0.1rem solid black;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(220, 50%, 90%);
    width: 90%;
}

.card {
    border: 0.1rem solid black;
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(220, 50%, 90%);
    width: 42%;
}

.btn {
    cursor: pointer;
    margin: 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem black;
    background-color: white;
    color: black;
    border: 0.2rem solid black;
}
.btn:hover {
    opacity: 0.75;
    color: white;
    border: 0.2rem solid white;
    background-color: black;
}
.btn:active {
    box-shadow: 0.1rem 0.1rem black;
}