* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

.card {
    border: 0.1rem solid black;
}

.nav-items {
    display: flex;
    list-style: none;
}

.btn {
    cursor: pointer;
    margin: 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem black;
}
.btn:hover {
    opacity: 0.75;
}
.btn:action {
    box-shadow: 0.1rem 0.1rem black;
}